<%- include("includes/head") %>
<body>
    <%- include("includes/header") %>
    <main class="main">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </main>
    <%- include("includes/footer") %>
  </body>
</html>
